## This is basic continuous integration build for your Quarkus application.

name: Quarkus Native Build CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.0.0

      - name: Checkout Badge Branch
        uses: actions/checkout@v4.0.0
        with:
          ref: badges
          path: badges

      - name: Set up JDK 11
        uses: actions/setup-java@v3.13.0
        with:
          distribution: 'adopt'
          java-version: 11
      - name: Build
        #run: ./mvnw package -Pnative -Dquarkus.native.container-build=true
        run: mvn clean install -Pcoverage

      - name: Generate JaCoCo Badge
        id: jacoco
        uses: cicirello/jacoco-badge-generator@v2.11.0
        with:
          badges-directory: badges
          generate-branches-badge: true

      - name: Log coverage percentage
        run: |
          echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
          echo "branch coverage = ${{ steps.jacoco.outputs.branches }}"

      - name: Commit the badge (if it changed)
        #if: ${{ github.event_name != 'pull_request' }}
        run: |
          cd badges
          if [[ `git status --porcelain *.svg` ]]; then
            git config --global user.name 'Yashoo Nath'
            git config --global user.email 'yashoonath@users.noreply.github.com'
            git add *.svg
            git commit -m "Autogenerated JaCoCo coverage badges" *.svg
            git push
          fi

      - name: Upload JaCoCo coverage report
        uses: actions/upload-artifact@v3.1.3
        with:
          name: jacoco-report
          path: target/site/jacoco/

